body{
  margin: 5em;
  background-color: #008c79;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
  font-style: italic;
  color: grey;
}
a {
  font-weight: bold;
  text-decoration: none;
}
footer img{
  width: 14px;
  height: 15px;
}
.trait{
width:1115px;
border:3px solid black;
}
.trait2{
  width: 1125px;
  border: 1px solid black;
}
h1{
  font-size: 75px;
}